<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kids Dashboard</title>
  <link rel="stylesheet" href="/css/game.css">
</head>
<body>
  <h1 style="color: green;">🎉 Welcome to the Fun Game!</h1>
  <p>Click the colored boxes to collect points!</p>
  <div id="game">
    <div class="box red"></div>
    <div class="box blue"></div>
    <div class="box yellow"></div>
  </div>
  <p>Score: <span id="score">0</span></p>
  <script src="/js/game.js"></script>
</body>
</html>