<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kids Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1 style="color: orange;"> Login!</h1>
  <form method="POST" action="/app/login">
    <input type="text" name="username" placeholder="user" required /><br>
    <input type="password" name="password" placeholder="123" required /><br>
    <button type="submit">Login </button>
  </form>
</body>
</html>